@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular weight */
@font-face {
  font-family: "Myriad";
  src: url("/fonts/Myriad-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Bold weight */
@font-face {
  font-family: "Myriad";
  src: url("/fonts/Myriad-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* SemiBold weight */
@font-face {
  font-family: "Myriad";
  src: url("/fonts/Myriad-SemiBold.otf") format("opentype");
  font-weight: 600; /* Semibold weight is typically 600 */
  font-style: normal;
}

/* Light weight */
@font-face {
  font-family: "Myriad";
  src: url("/fonts/Myriad-Light.otf") format("opentype");
  font-weight: 300; /* Light weight is typically 300 */
  font-style: normal;
}

body {
  font-family: "Myriad", sans-serif;
}

/* Add animation for the rotating half-circle */
@keyframes neonRotation {
  0% {
    transform: rotate(0deg);
    border-top-color: rgb(187, 74, 9); /* Start with blue */
  }
  100% {
    transform: rotate(360deg);
    border-top-color: rgb(189, 0, 0); /* End with red */
  }
}

.neon-ring {
  animation: neonRotation 3s infinite linear;
  position: absolute;
  border: 2px solid transparent; /* Border should be transparent initially */
  border-top-color: rgb(250 209 122); /* The initial color for the neon line */
  border-radius: 50%; /* Keep it circular */
}
